body {
  margin: 0;
}

.YO  { background-color: green;}
.LOVE { background-color: white;}
.GRULLO { background-color: red;}

.VISITA  { background-color: green;}
.GUSTO { background-color: white;}
.CONTACTO { background-color: red;}


body {
  background-color: #81b214;
}

h1 {
  color: green;
}
h2 {
  color: white;
}
h3 {
  color: white;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.machos:hover { background-color: white;}
.raul:hover { background-color: red;}


.obelisco:hover { background-color: green;}
.feria:hover { background-color: white;}
.alturas:hover { background-color: red;}
